<#include "common/header-title.html" />

<body>
<div class="hlideal-tabnav-content">
	<div class="search-bg">
	    <form action="" class="sui-form">
	        <dl class="form-item">
	            <dt class="title">角色名称：</dt>
	            <dd class="detail">
	                <label>
	                    <input type="text" class="sui-input" name="name"  id="search_name" />
	                </label>
	            </dd>
	        </dl>
	        <dl class="form-item">
	            <dt class="title"></dt>
	            <dd class="detail">
	                <button type="button" class="hlideal-btn btn-blue" id="btn-search">搜索</button>
                	<button type="reset" class="hlideal-btn btn-gray">重置</button>
	            </dd>
	        </dl>  
	    </form>
	</div>
	<table id="tb-dbdatagrid" class="sui-datagrid table-list" zdata-options={"url":"${adminCtx}/backstage/sys/queryRoleList.htm?jsonCallBack=?","fitColumns":true,"singleSelect":false,"pagination":true,"rowcheck":true,"rownumbers":true,"rows":10,"idField":"id","toolbar":"#btn-applylist","tableCls":"table-list"}>
        <thead>
	    <tr>
	        <th data-options="field:name">角色名称</th>
	        <th data-options="field:remark">备注</th>
	    </tr>
	    </thead>
	</table>
	<div id="btn-applylist" >
        <a class="sui-toolbar" id="btn-add"  text="增加" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doNew"></a>
        <a class="sui-toolbar" id="btn-modify" text="修改" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doEdit"></a>
        <a class="sui-toolbar" id="btn-del" text="删除" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doDel"></a>    
        <a class="sui-toolbar" id="btn-roleassign" text="授权" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doRoleAssign"></a>   
    </div>
</div>

<div id="role_form_window" style="display: none;">
	<div class="clearfix mt20">
		<form id="role_form"  class="sui-form" method="post" enctype="multipart/form-data"  zdata-options={"url":"${adminCtx}/backstage/sys/roleSaveData.htm?jsonCallBack=?","callBack":"callBackFn"}>
			<input type="hidden" name="id" id="id" value=""/>
			<dl class="form-item">
				<dt class="title sptitle">角色名称:</dt>
				<dd class="detail">
					<label>
						<input type="text" class="sui-input sui-validatebox"  validate-type="Require" id="name" name="name" />
						<i class="require icon-mrequire"></i>
					</label>
				</dd>
			</dl>
			<dl class="form-item">
				<dt class="title sptitle">备注:</dt>
				<dd class="detail">
					<label>
						<input type="text" class="sui-input" id="remark" name="remark" />
					</label>
				</dd>
			</dl>			
		</form>
	</div>
</div>

<div id="rolefunction_frame_window">
	<iframe id="rolefunction_frame" scrolling="no" marginwidth="0" width="100%" height="100%" frameborder="0" marginheight="0"></iframe>
</div>

<script>
	var uri_delRole = '${adminCtx}/backstage/sys/roleDeleteData.htm';
	var uri_roleFunction = '${adminCtx}/backstage/sys/rolefunctionassign.htm';
    $(function() {
        $("#role_form_window").Dialog({
            width: 400,
            height: 300,
            title: '角色编辑',
            closed:true,
            buttons:[{
                id:'message-btn',
                text:'确定',
                buttonCls:'btn-blue',
                handler:function(){
                    $("#role_form").submit();
                }
            },{
                id:'message-btn',
                text:'取消',
                buttonCls:'btn-gray',
                handler:function(){
                    $("#role_form_window").Dialog("close");
                }
            }]
        });

        $('#rolefunction_frame_window').Dialog({
            width	: 800,
            height	: 750,
            title	: '设置权限',
            closed	: true,
            modal	: true,
            fullcontent : true
        });

        sui.init();

    });

    $("#btn-search").click(function () {
        doSearch();
    });

    function doSearch() {
        $('#tb-dbdatagrid').Table("reload", {
            name:$('#search_name').val()
        });
    }

    CALLBACK.callBackFn=function(data){
        if(data.code){
            message.info("提示", "操作成功", function () {
                //关闭弹出窗
                $("#role_form_window").Dialog("close");
                //重新加载数据
                doSearch();
            });
        }else{
            message.error("错误", data.message, function () {

            });
        }
    }

    //新增
    CALLBACK.doNew=function(){

        //清除
        $('#role_form')[0].reset();
        $('#id').val('');
        $("#role_form_window").Dialog("open");
    };

    //编辑
    CALLBACK.doEdit=function(){
        var rows = $('#tb-dbdatagrid').Table("getSelections");
        if(rows.length==0){
            message.warning("警告", "请选择记录", function () {});
            return;
        } else {
            var id = rows[0].id;
            var name = rows[0].name;
            var remark = rows[0].remark;

            //初始化数据
            $('#id').val(id);
            $('#name').val(name);
            $('#remark').val(remark);
            $("#role_form_window").Dialog("open");
        }
    };

    //设置权限
    CALLBACK.doRoleAssign=function(){
        var rows = $('#tb-dbdatagrid').Table("getSelections");
        if(rows.length==0){
            message.warning("警告", "请选择记录", function () {});
            return;
        } else {
            var id = rows[0].id;

            var params = $.param( { 'roleid' : id } );
            var url = uri_roleFunction + '?' + params;
            var $this_window = '#rolefunction_frame';
            // 为iframe设置src
            $('#rolefunction_frame').attr('src', url);

            $('#rolefunction_frame_window').Dialog('open');
        }
    };

    //删除
    CALLBACK.doDel= function(){

        var rows = $('#tb-dbdatagrid').Table("getSelections");
        var ids = [];
        for(var index in rows){
            ids.push(rows[index]['id']);
        }

        if( ids.length ) {
            message.question("确认", "你确定要删除选中的数据？", function () {
                var str = '';
                for( i in ids ) {
                    str += ids[i] + ((ids.length - 1) == i ?'':',');
                }

                $.ajax({
                    type 		: "POST",
                    dataType 	: "jsonp",
                    url 		: uri_delRole + "?jsonCallBack=?",
                    data		: {'ids' : str},
                    success		: function( result ) {
                        if(result.code){
                            message.info("提示", "删除成功",function(){
                                //重新加载数据
                                doSearch();
                            });
                        }else{
                            message.error("错误", result.message, function () {});
                        }
                    }
                });
            });
        } else {
            message.warning("警告", "请选择记录", function () {

            });
        }
    };
  </script>

</body>