<#include "common/header-title.html" />

<body>
<input type="hidden" name="staffid" id="staffid" value="${staffid!}"/>
<div class="save" id="btn-div">
	<button class="btn-saveblue mr10" id="btn-save"><i class="icon-save"></i>保存</button>
	<button class="btn-returngray" id="btn-cancel"><i class="icon-return"></i>取消</button>
</div>
<div class="frm-content frm-bottom">
	<div class="page-box">
		 <form action="javascript:void(0);" id="staffroleset" class="sui-form">
			<dl class="form-item">
				<dt class="title sptitle">角色设置:</dt>
				<dd class="detail">
					<label style="width:350px;">
						<input id="checkbox_staffroleset" type="hidden"
					       data-data="${listroles}" data-valuefield="id" data-textfield="name" data-multiple="true" value="${staffroles}"
					       class="sui-checkbox" style="display: none;">  
					</label>
				</dd>
			</dl>
		</form>
	</div>
</div>

<script>
	var savestaffrolefunction_url = '${adminCtx}/backstage/sys/staffRoleSave.htm';
	//初始化按钮
	$(function () {
	    sui.init();
        $('#btn-save').YButon({
            text: "保存",//按钮内容
            iconCls: 'icon-save',//按钮图标
            buttonCls: 'btn-saveblue',
            handler: function () {
                //保存相关信息
                var staffid =  $("#staffid").val();
                var ids = $("#checkbox_staffroleset").val();
                var obj_loading = Loading.show("page-box");
                $.ajax({
                    async: true,
                    type: "get",
                    dataType: "jsonp",
                    url: savestaffrolefunction_url + "?jsonCallBack=?",
                    data: {staffid: staffid, ids: ids},
                    crossDomain: true,
                    complete: function () {
                        //关闭遮挡层
                        Loading.hide(obj_loading);
                    },
                    success: function (data) {
                        if(data.code){
                            $.YMessage.success("提示", "保存成功");
                            window.parent.window.$('.icon-dclose').click();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.YMessage.warning("提示", "网络请求出错,请联系管理员");
                    }
                });
            }
        });
        $('#btn-cancel').YButon({
            text: "取消",//按钮内容
            iconCls: 'icon-return',//按钮图标
            buttonCls: 'btn-returngray',
            handler: function () {
                window.parent.window.$('.icon-dclose').click();
            }
        });
    })
	
  </script>

</body>