<#include "common/header-title.html" />

<body>
<div class="hlideal-tabnav-content">
    <div class="search-bg">
        <form action="" class="sui-form">
            <dl class="form-item">
                <dt class="title">字典类型key：</dt>
                <dd class="detail">
                    <label>
                        <input type="text" class="sui-input" name="catekey"  id="search_key" />
                    </label>
                </dd>
                <dt class="title">字典类型名称：</dt>
                <dd class="detail">
                    <label>
                        <input type="text" class="sui-input" name="catename"  id="search_name" />
                    </label>
                </dd>

            </dl>
            <dl class="form-item">
                <dt class="title"></dt>
                <dd class="detail">
                    <button type="button" class="hlideal-btn btn-blue" id="btn-search">搜索</button>
                    <button type="reset" class="hlideal-btn btn-gray">重置</button>
                </dd>
            </dl>
        </form>
    </div>
    <table id="tb-dbdatagrid" class="sui-datagrid table-list" zdata-options={"url":"${adminCtx}/backstage/sys/queryDicCateList.htm?jsonCallBack=?","fitColumns":true,"singleSelect":false,"pagination":true,"rowcheck":true,"rownumbers":true,"rows":15,"idField":"id","toolbar":"#btn-applylist","tableCls":"table-list"}>
        <thead>
        <tr>
            <th data-options="field:catekey">字典类型key</th>
            <th data-options="field:catename">字典类型名称</th>
            <th data-options="field:remark">字典类型说明</th>
        </tr>
        </thead>
    </table>
    <div id="btn-applylist" >
        <a class="sui-toolbar" id="btn-add"  text="增加" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doNew"></a>
        <a class="sui-toolbar" id="btn-modify" text="修改" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doEdit"></a>
        <a class="sui-toolbar" id="btn-del" text="删除" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doDel"></a>
        <a class="sui-toolbar" id="btn-set" text="字典详情设置" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doDic"></a>
    </div>

    <div id="diccate_window" style="display: none">
        <div class="clearfix mt20">
            <form id="diccate_form"  class="sui-form" method="post" enctype="multipart/form-data"  zdata-options={"url":"${adminCtx}/backstage/sys/diccateSaveData.htm?jsonCallBack=?","callBack":"callBackFn01"}>
                <input type="hidden" name="id" id="id" value=""/>
                <dl class="form-item">
                    <dt class="title sptitle">字典类型key:</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input sui-validatebox" validate-type="Require" id="catekey" name="catekey" />
                            <i class="require icon-mrequire"></i>
                        </label>
                    </dd>
                </dl>
                <dl class="form-item">
                    <dt class="title sptitle">字典类型名称:</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input sui-validatebox" validate-type="Require" id="catename" name="catename" />
                            <i class="require icon-mrequire"></i>
                        </label>
                    </dd>
                </dl>
                <dl class="form-item">
                    <dt class="title sptitle">字典类型说明:</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input" id="remark" name="remark" />
                        </label>
                    </dd>
                </dl>
            </form>
        </div>
    </div>

    <div id="dic_list_window" style="display: none">
        <div class="search-bg">
            <form action="" class="sui-form">
                <dl class="form-item">
                    <dt class="title">字典key：</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input" name="dickey"  id="search_dic_key" />
                        </label>
                    </dd>
                </dl>
                <dl class="form-item">
                    <dt class="title">字典value：</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input" name="dicvalue"  id="search_dic_value" />
                        </label>
                    </dd>
                </dl>
                <dl class="form-item">
                    <dt class="title"></dt>
                    <dd class="detail">
                        <button type="button" class="hlideal-btn btn-blue" id="btn-search-dic">搜索</button>
                        <button type="reset" class="hlideal-btn btn-gray">重置</button>
                    </dd>
                </dl>
            </form>
        </div>
        <table id="tb-dbdatagrid-dic" class="sui-datagrid table-list" zdata-options={"url":"${adminCtx}/backstage/sys/queryDicList.htm?jsonCallBack=?","fitColumns":true,"singleSelect":false,"pagination":true,"rowcheck":true,"rownumbers":true,"rows":5,"idField":"id","toolbar":"#btn-applylist_dic","tableCls":"table-list","startInit":false}>
            <thead>
            <tr>
                <th data-options="field:catekey">字典类型key</th>
                <th data-options="field:dickey">字典key</th>
                <th data-options="field:dicvalue">字典值</th>
            </tr>
            </thead>
        </table>
        <div id="btn-applylist_dic" >
            <a class="sui-toolbar" id="btn-add01"  text="增加" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doNewDic"></a>
            <a class="sui-toolbar" id="btn-modify01" text="修改" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doEditDic"></a>
            <a class="sui-toolbar" id="btn-del01" text="删除" iconCls="icon-blue06" buttonCls="btn-operateblue" handler="doDelDic"></a>
        </div>
    </div>

    <div id="dic-info-window" style="display: none">
        <div class="clearfix mt20">
            <input type="hidden" id="cateid-temp" value=""/>
            <input type="hidden" id="catekey-temp" value=""/>
            <form id="dic_form"  class="sui-form" method="post" enctype="multipart/form-data"  zdata-options={"url":"${adminCtx}/backstage/sys/dicSaveData.htm?jsonCallBack=?","callBack":"callBackFn02"}>
                <input type="hidden" name="id" id="dicid" value=""/>
                <input type="hidden" name="cateid" id="cateid" value=""/>
                <dl class="form-item">
                    <dt class="title sptitle">字典类型key:</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input sui-validatebox" validate-type="Require" id="catekey4dic" name="catekey" readonly />
                            <i class="require icon-mrequire"></i>
                        </label>
                    </dd>
                </dl>
                <dl class="form-item">
                    <dt class="title sptitle">字典key:</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input sui-validatebox" validate-type="Require" id="dickey" name="dickey" />
                            <i class="require icon-mrequire"></i>
                        </label>
                    </dd>
                </dl>
                <dl class="form-item">
                    <dt class="title sptitle">字典值:</dt>
                    <dd class="detail">
                        <label>
                            <input type="text" class="sui-input sui-validatebox" validate-type="Require" id="dicvalue" name="dicvalue" />
                            <i class="require icon-mrequire"></i>
                        </label>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var uri_del_diccate = '${adminCtx}/backstage/sys/diccateDeleteData.htm';
    var uri_del_dic = '${adminCtx}/backstage/sys/dicDeleteData.htm';
    $(function() {
        $("#diccate_window").Dialog({
            width: 700,
            height: 400,
            title: '字典类型管理',
            closed:true,
            buttons:[{
                id:'message-btn',
                text:'确定',
                buttonCls:'btn-blue',
                handler:function(){
                    $("#diccate_form").submit();

                }
            },{
                id:'message-btn',
                text:'取消',
                buttonCls:'btn-gray',
                handler:function(){
                    $("#diccate_window").Dialog("close");
                }
            }]
        });

        $("#dic_list_window").Dialog({
            width: 900,
            height: 600,
            title: '字典列表',
            closed:true
        });

        $("#dic-info-window").Dialog({
            width: 700,
            height: 400,
            title: '字典管理',
            closed:true,
            buttons:[{
                id:'message-btn',
                text:'确定',
                buttonCls:'btn-blue',
                handler:function(){
                    $("#dic_form").submit();
                }
            },{
                id:'message-btn',
                text:'取消',
                buttonCls:'btn-gray',
                handler:function(){
                    $("#dic-info-window").Dialog("close");
                }
            }]
        });
        $("#btn-search-dic").click(function () {
            doSearchDic();
        });

        sui.init();
    });

    $("#btn-search").click(function () {
        doSearch();
    });

    function doSearch() {
        $('#tb-dbdatagrid').Table("reload", {
            catekey:$('#search_key').val(),
            catename:$('#search_name').val()
        });
    }

    CALLBACK.callBackFn01=function(data){
        if(data.code){
            message.info("提示", "操作成功", function () {
                //关闭弹出窗
                $("#diccate_window").Dialog("close");
                //重新加载数据
                doSearch();
            });
        }else{
            message.error("错误", data.msg, function () {

            });
        }
    };
    CALLBACK.callBackFn02=function(data){
        if(data.code){
            message.info("提示", "操作成功", function () {
                //关闭弹出窗
                $("#dic-info-window").Dialog("close");
                //重新加载数据
                doSearchDic();
            });
        }else{
            message.error("错误", data.msg, function () {

            });
        }
    };

    //新增
    CALLBACK.doNew=function(){

        //清除
        $('#diccate_form')[0].reset();
        $('#id').val('');
        $("#diccate_window").Dialog("open");
    };

    //编辑
    CALLBACK.doEdit=function(){
        var rows = $('#tb-dbdatagrid').Table("getSelections");
        if(rows.length==0){
            message.warning("警告", "请选择记录", function () {});
            return;
        } else {
            var id = rows[0].id;
            var catekey = rows[0].catekey;
            var catename = rows[0].catename;
            var remark = rows[0].remark;

            //初始化数据
            $('#id').val(id);
            $('#catekey').val(catekey);
            $('#catename').val(catename);
            $('#remark').val(remark);
            $("#diccate_window").Dialog("open");
        }
    };


    //删除
    CALLBACK.doDel= function(){

        var rows = $('#tb-dbdatagrid').Table("getSelections");
        var ids = [];
        for(var index in rows){
            ids.push(rows[index]['id']);
        }

        if( ids.length ) {
            message.question("确认", "你确定要删除选中的数据？", function () {
                var str = '';
                for( i in ids ) {
                    str += ids[i] + ((ids.length - 1) == i ?'':',');
                }

                $.ajax({
                    type 		: "POST",
                    dataType 	: "jsonp",
                    url 		: uri_del_diccate + "?jsonCallBack=?",
                    data		: {'ids' : str},
                    success		: function( result ) {
                        if(result.code){
                            message.info("提示", "删除成功",function(){
                                //重新加载数据
                                doSearch();
                            });
                        }else{
                            message.error("错误", result.message, function () {});
                        }
                    }
                });
            });
        } else {
            message.warning("警告", "请选择记录", function () {

            });
        }
    };

    //字典
    CALLBACK.doDic=function(){
        var rows = $('#tb-dbdatagrid').Table("getSelections");
        if(rows.length==0){
            message.warning("警告", "请选择记录", function () {});
            return;
        } else {
            var id = rows[0].id;
            var catekey = rows[0].catekey;
            $("#cateid-temp").val(id);
            $("#catekey-temp").val(catekey);
            //初始化数据
            $('#tb-dbdatagrid-dic').Table("reload", {
                catekey:catekey,
                cateid:id
            });
            $("#dic_list_window").Dialog("open");
        }
    };

    function doSearchDic() {
        $('#tb-dbdatagrid-dic').Table("reload", {
            catekey:$("#catekey-temp").val(),
            cateid:$("#cateid-temp").val(),
            dickey:$("#search_dic_key").val(),
            dicvalue:$("#search_dic_value").val()
        });
    }

    //新增
    CALLBACK.doNewDic=function(){
        //清除
        $('#dic_form')[0].reset();
        $('#dicid').val('');
        $('#cateid').val($("#cateid-temp").val());
        $('#catekey4dic').val($("#catekey-temp").val());
        $("#dic-info-window").Dialog("open");
    };

    //编辑
    CALLBACK.doEditDic=function(){
        var rows = $('#tb-dbdatagrid-dic').Table("getSelections");
        if(rows.length==0){
            message.warning("警告", "请选择记录", function () {});
            return;
        } else {
            var id = rows[0].id;
            var catekey = rows[0].catekey;
            var cateid = rows[0].cateid;
            var dickey = rows[0].dickey;
            var dicvalue = rows[0].dicvalue;

            //初始化数据
            $('#dicid').val(id);
            $('#catekey4dic').val(catekey);
            $('#cateid').val(cateid);
            $('#dickey').val(dickey);
            $('#dicvalue').val(dicvalue);
            $("#dic-info-window").Dialog("open");
        }
    };


    //删除
    CALLBACK.doDelDic= function(){

        var rows = $('#tb-dbdatagrid-dic').Table("getSelections");
        var ids = [];
        for(var index in rows){
            ids.push(rows[index]['id']);
        }

        if( ids.length ) {
            message.question("确认", "你确定要删除选中的数据？", function () {
                var str = '';
                for( i in ids ) {
                    str += ids[i] + ((ids.length - 1) == i ?'':',');
                }

                $.ajax({
                    type 		: "POST",
                    dataType 	: "jsonp",
                    url 		: uri_del_dic + "?jsonCallBack=?",
                    data		: {'ids' : str},
                    success		: function( result ) {
                        if(result.code){
                            message.info("提示", "删除成功",function(){
                                //重新加载数据
                                doSearchDic();
                            });
                        }else{
                            message.error("错误", result.message, function () {});
                        }
                    }
                });
            });
        } else {
            message.warning("警告", "请选择记录", function () {

            });
        }
    };

    //字段格式化
    CALLBACK.enableFormatter = function(index,val){
        if(val=='1')
            return '是';
        return '否';
    };

</script>
</body>
