@charset "UTF-8";
/*初始化样式*/
html { height:100%; font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

body { height:100%; margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*引入sass变量混合器等*/
body { box-sizing: border-box; word-break: break-all; font-family: "Microsoft Yahei", sans-serif; font-size: 12px; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form { margin: 0; }

ul, ol { padding-left: 0; list-style-type: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; }

a { text-decoration: none; color: #333333; cursor: pointer; outline: none; blr: expression(this.onFocus=this.blur()); }
a:hover { text-decoration: none; }

.fr { float: right !important; }

.fl { float: left !important; }

.clearfix { *zoom: 1; }

.clearfix:after, .clearfix:before { content: ""; display: table; clear: both; }

.tc { text-align: center !important; }

.tl { text-align: left !important; }

.tr { text-align: right !important; }

.tj { text-align: justify; }

.rel { position: relative; }

.abs { position: absolute; }

.ell { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; word-wrap: normal; }

input:focus, textarea:focus { outline: none; }

input::-ms-clear { display: none; }

textarea { resize: none; }

input, textarea, select { font-size: 100%; font-family: inherit; }

i { display: inline-block; vertical-align: middle; margin-bottom: 2px; }

.p10 { padding: 10px; }

.p20 { padding: 20px; }

.mt-1 { margin-top: -1px; }

.mb0 { margin-bottom: 0 !important; }

.ml0 { margin-left: 0 !important; }

.m5 { margin: 5px; }

.mt5 { margin-top: 5px; }

.mb5 { margin-bottom: 5px; }

.mr5 { margin-right: 5px; }

.ml5 { margin-left: 5px; }

.m10 { margin: 10px; }

.mt10 { margin-top: 10px; }

.mb10 { margin-bottom: 10px; }

.mr10 { margin-right: 10px; }

.ml10 { margin-left: 10px; }

.m20 { margin: 20px; }

.mt20 { margin-top: 20px; }

.mb20 { margin-bottom: 20px; }

.mr20 { margin-right: 20px; }

.ml20 { margin-left: 20px; }

.block { display: block !important; }

.col-two > li { float: left; width: 49.9%; }

.mright { margin-right: 5px; }
@media screen and (min-width: 1200px) { .mright { margin-right: 10px; } }

.mleft { margin-left: 5px; }
@media screen and (min-width: 1200px) { .mleft { margin-left: 10px; } }

.c-blue { color: #3267cc; }

.c-red { color: red; }

.ca-blue { color: #5d947f; }
.ca-blue:hover { color: #ff6600; }

.hide { display: none !important; }

.show { display: block !important; }

.os-content { float: left; width: 100%; _width: 98.5%; }

.os-content-in { position: relative; margin-right: 240px; }

.os-sidebar { float: left; clear: right; width: 200px; margin-left: -200px; overflow: auto; }

.borderAll { border: 1px solid #CCCCCC; }

/*合成雪碧图*/
.icon-sprite, .icon-adoubt, .icon-aerror, .icon-asuccess, .icon-awarn, .icon-blue01, .icon-blue02, .icon-blue03, .icon-blue04, .icon-blue05, .icon-blue06, .icon-blue07, .icon-blue08, .icon-blue09, .icon-blue10, .icon-btn01, .icon-btn02, .icon-btn03, .icon-btn04, .icon-btn05, .icon-btn06, .icon-btn07, .icon-btn08, .icon-dclose, .icon-dsorry, .icon-dynaclose, .icon-fold, .icon-menu01, .icon-menu02, .icon-menu03, .icon-menu04, .icon-merror, .icon-mnotice, .icon-mrequire, .icon-mselect, .icon-msuccess, .icon-nav01, .icon-nav02, .icon-nav03, .icon-nav04, .icon-notice01, .icon-notice02, .icon-notice03, .icon-notice04, .icon-return, .icon-rocket, .icon-save, .icon-selArrow, .icon-selClose, .icon-snotice01, .icon-snotice02, .icon-snotice03, .icon-snotice04, .icon-submit, .icon-tab01, .icon-tab02, .icon-title01, .icon-title02, .icon-title03, .icon-top01, .icon-top02, .icon-unfold, .icon-user { background-image: url('../images/icon-s4c57f31887.png'); background-repeat: no-repeat; }

.icon-adoubt { background-position: 0 -1075px; height: 48px; width: 47px; }

.icon-aerror { background-position: 0 -979px; height: 48px; width: 47px; }

.icon-asuccess { background-position: 0 -931px; height: 48px; width: 47px; }

.icon-awarn { background-position: 0 -1027px; height: 48px; width: 47px; }

.icon-blue01 { background-position: 0 -102px; height: 17px; width: 17px; }

.icon-blue02 { background-position: -17px -102px; height: 17px; width: 17px; }

.icon-blue03 { background-position: -17px -119px; height: 17px; width: 16px; }

.icon-blue04 { background-position: 0 -119px; height: 17px; width: 17px; }

.icon-blue05 { background-position: -16px -34px; height: 17px; width: 21px; }

.icon-blue06 { background-position: -16px -51px; height: 17px; width: 17px; }

.icon-blue07 { background-position: 0 -85px; height: 17px; width: 17px; }

.icon-blue08 { background-position: 0 -68px; height: 17px; width: 17px; }

.icon-blue09 { background-position: -17px -68px; height: 17px; width: 17px; }

.icon-blue10 { background-position: -17px -85px; height: 17px; width: 17px; }

.icon-btn01 { background-position: 0 -417px; height: 24px; width: 24px; }

.icon-btn02 { background-position: 0 -393px; height: 24px; width: 24px; }

.icon-btn03 { background-position: 0 -369px; height: 24px; width: 24px; }

.icon-btn04 { background-position: -20px -321px; height: 24px; width: 24px; }

.icon-btn05 { background-position: -17px -345px; height: 24px; width: 24px; }

.icon-btn06 { background-position: -20px -297px; height: 24px; width: 24px; }

.icon-btn07 { background-position: 0 -465px; height: 24px; width: 24px; }

.icon-btn08 { background-position: 0 -441px; height: 24px; width: 24px; }

.icon-dclose { background-position: 0 -489px; height: 29px; width: 29px; }

.icon-dsorry { background-position: 0 -888px; height: 43px; width: 42px; }

.icon-dynaclose { background-position: 0 -18px; height: 14px; width: 14px; }

.icon-fold { background-position: 0 -778px; height: 36px; width: 36px; }

.icon-menu01 { background-position: 0 -614px; height: 32px; width: 32px; }

.icon-menu02 { background-position: 0 -550px; height: 32px; width: 32px; }

.icon-menu03 { background-position: 0 -582px; height: 32px; width: 32px; }

.icon-menu04 { background-position: 0 -518px; height: 32px; width: 32px; }

.icon-merror { background-position: -11px 0; height: 16px; width: 16px; }

.icon-mnotice { background-position: -27px 0; height: 16px; width: 16px; }

.icon-mrequire { background-position: 0 -345px; height: 14px; width: 17px; }

.icon-mselect { background-position: 0 -850px; height: 38px; width: 30px; }

.icon-msuccess { background-position: -18px -136px; height: 18px; width: 17px; }

.icon-nav01 { background-position: 0 -233px; height: 20px; width: 20px; }

.icon-nav02 { background-position: -20px -233px; height: 20px; width: 20px; }

.icon-nav03 { background-position: 0 -213px; height: 20px; width: 20px; }

.icon-nav04 { background-position: -20px -213px; height: 20px; width: 20px; }

.icon-notice01 { background-position: 0 -679px; height: 33px; width: 29px; }

.icon-notice02 { background-position: 0 -745px; height: 33px; width: 29px; }

.icon-notice03 { background-position: 0 -712px; height: 33px; width: 29px; }

.icon-notice04 { background-position: 0 -646px; height: 33px; width: 29px; }

.icon-return { background-position: -18px -154px; height: 19px; width: 19px; }

.icon-rocket { background-position: 0 -253px; height: 22px; width: 22px; }

.icon-save { background-position: 0 -173px; height: 19px; width: 19px; }

.icon-selArrow { background-position: 0 0; height: 18px; width: 11px; }

.icon-selClose { background-position: -30px -18px; height: 16px; width: 16px; }

.icon-snotice01 { background-position: -22px -253px; height: 22px; width: 20px; }

.icon-snotice02 { background-position: 0 -321px; height: 22px; width: 20px; }

.icon-snotice03 { background-position: -20px -275px; height: 22px; width: 20px; }

.icon-snotice04 { background-position: 0 -297px; height: 22px; width: 20px; }

.icon-submit { background-position: 0 -193px; height: 19px; width: 19px; }

.icon-tab01 { background-position: -19px -193px; height: 20px; width: 22px; }

.icon-tab02 { background-position: -19px -173px; height: 20px; width: 22px; }

.icon-title01 { background-position: 0 -34px; height: 16px; width: 16px; }

.icon-title02 { background-position: 0 -51px; height: 16px; width: 16px; }

.icon-title03 { background-position: -14px -18px; height: 16px; width: 16px; }

.icon-top01 { background-position: 0 -136px; height: 18px; width: 18px; }

.icon-top02 { background-position: 0 -154px; height: 18px; width: 18px; }

.icon-unfold { background-position: 0 -814px; height: 36px; width: 36px; }

.icon-user { background-position: 0 -275px; height: 20px; width: 20px; }

.ztree-sprite, .ztree-1, .ztree-2, .ztree-3, .ztree-4, .ztree-5, .ztree-6, .ztree-7, .ztree-8, .ztree-9 { background-image: url('../images/ztree-sf138e2b68d.png'); background-repeat: no-repeat; }

.ztree-1 { background-position: 0 0; height: 14px; width: 15px; }

.ztree-2 { background-position: 0 -14px; height: 14px; width: 15px; }

.ztree-3 { background-position: 0 -28px; height: 14px; width: 15px; }

.ztree-4 { background-position: 0 -42px; height: 14px; width: 15px; }

.ztree-5 { background-position: 0 -98px; height: 14px; width: 15px; }

.ztree-6 { background-position: 0 -70px; height: 14px; width: 15px; }

.ztree-7 { background-position: 0 -84px; height: 14px; width: 15px; }

.ztree-8 { background-position: 0 -56px; height: 14px; width: 15px; }

.ztree-9 { background-position: 0 -112px; height: 15px; width: 11px; }

.single-sprite, .single-btn-check-a, .single-btn-check, .single-btn-choose-a, .single-btn-choose, .single-btn-create-a, .single-btn-create, .single-btn-edit-a, .single-btn-edit, .single-checkbox-a, .single-checkbox, .single-distabsnext, .single-distabsprev, .single-faster-a, .single-faster, .single-home-a, .single-home, .single-radio-a, .single-radio, .single-tabsnext, .single-tabsprev, .dynamic-tab .tabs-prev.disable i, .dynamic-tab .tabs-next.disable i, .dynamic-tab .tabs li.tabs-on .single-home, .form-radio li.selected i, .form-checkbox li.selected i, .btn-choose:hover i, .btn-create:hover i, .btn-edit:hover i, .btn-check:hover i, .last-item, .last-item:hover { background-image: url('../images/single-sa670846870.png'); background-repeat: no-repeat; }

.single-btn-check-a { background-position: -16px -30px; height: 16px; width: 16px; }

.single-btn-check { background-position: 0 -47px; height: 16px; width: 16px; }

.single-btn-choose-a { background-position: -16px -47px; height: 16px; width: 16px; }

.single-btn-choose { background-position: 0 -30px; height: 16px; width: 16px; }

.single-btn-create-a { background-position: 0 0; height: 16px; width: 16px; }

.single-btn-create { background-position: -16px 0; height: 16px; width: 16px; }

.single-btn-edit-a { background-position: -32px 0; height: 16px; width: 16px; }

.single-btn-edit { background-position: 0 -84px; height: 16px; width: 16px; }

.single-checkbox-a { background-position: -32px -47px; height: 17px; width: 17px; }

.single-checkbox { background-position: -32px -30px; height: 17px; width: 17px; }

.single-distabsnext { background-position: -39px -16px; height: 14px; width: 13px; }

.single-distabsprev { background-position: -26px -16px; height: 14px; width: 13px; }

.single-faster-a { background-position: 0 -159px; height: 58px; width: 61px; }

.single-faster { background-position: 0 -101px; height: 58px; width: 61px; }

.single-home-a { background-position: -19px -64px; height: 20px; width: 19px; }

.single-home { background-position: 0 -64px; height: 20px; width: 19px; }

.single-radio-a { background-position: -33px -84px; height: 17px; width: 17px; }

.single-radio { background-position: -16px -84px; height: 17px; width: 17px; }

.single-tabsnext { background-position: -13px -16px; height: 14px; width: 13px; }

.single-tabsprev { background-position: 0 -16px; height: 14px; width: 13px; }

/*引入yui*/
.sui-iframe { border: 0; background-color: transparent; width: 100%; }

.frm-content { position: relative; margin: 10px; }
@media screen and (min-width: 1200px) { .frm-content { margin: 20px; } }

.frm-bottom { padding-bottom: 40px; }
@media screen and (min-width: 1200px) { .frm-bottom { padding-bottom: 70px; } }

/*.info-tab { margin-bottom: 5px; }*/
/*.info-tab .tabs { background-color: #f5f5f5; padding: 15px 30px; border: 1px solid #CCCCCC; font-size: 0; *zoom: 1; }*/
/*.info-tab .tabs:after { content: ' '; clear: both; display: table; }*/
/*.info-tab .tabs li { display: inline-block; font-size: 12px; }*/
/*.info-tab .tabs a { box-sizing: border-box; display: block; height: 40px; padding: 0 20px; margin-left: -1px; min-width: 100px; line-height: 40px; text-align: center; font-size: 14px; background-color: #ffffff; border: 1px solid #CCCCCC; color: #333333; cursor: pointer; margin-top: 5px; margin-bottom: 5px; }*/
/*.info-tab .tabs .tabs-on a { background-color: #5d947f; border: 1px solid #5d947f; color: #ffffff; }*/
/*.info-tab .tabs i { margin-right: 5px; margin-bottom: 3px; }*/

/*.index-tab { margin-bottom: 5px; }*/
/*.index-tab .tabs { background-color: #584f0e; *zoom: 1; }*/
/*.index-tab .tabs:after { content: ' '; clear: both; display: table; }*/
/*.index-tab .tabs li { float: left; }*/
/*.index-tab .tabs a { display: inline-block; width: 110px; height: 40px; line-height: 40px; text-align: center; margin-top: 5px; font-size: 16px; color: #ffffff; cursor: pointer; }*/
/*.index-tab .tabs .tabs-on a { background-color: #887d2c; }*/
/*.index-tab .tabs i { margin-right: 5px; margin-bottom: 3px; }*/


.dynamic-tab { position: relative;}
.dynamic-tab .tabs-prev, .dynamic-tab .tabs-next { position: absolute; top: 1px; left: 0; z-index: 10; width: 50px; height: 43px; text-align: center; }
.dynamic-tab .tabs-prev i, .dynamic-tab .tabs-next i { margin-top: 14px; }
.dynamic-tab .tabs-prev.disable, .dynamic-tab .tabs-next.disable { cursor: not-allowed; }
.dynamic-tab .tabs-prev { border-right: 1px solid #d2d2d2; }
.dynamic-tab .tabs-prev.disable i { background-position: -26px -16px; height: 14px; width: 13px; }
.dynamic-tab .tabs-next { left: auto; right: 0; border-left: 1px solid #d2d2d2; }
.dynamic-tab .tabs-next.disable i { background-position: -39px -16px; height: 14px; width: 13px; }
.dynamic-tab .dynamic-nav { padding-left: 50px; padding-right: 50px; background-color: #ffffff; border-bottom: 2px solid #2db1ef; border-top: 1px solid #d2d2d2; }
.dynamic-tab .tabs { white-space: nowrap; overflow: hidden; font-size: 0; }
.dynamic-tab .tabs li { position: relative; white-space: nowrap; display: inline-block; _display: inline; border-right: 1px solid #d2d2d2; font-size: 12px; }
.dynamic-tab .tabs li a { height: 40px; line-height: 40px; padding:30px; text-align: center; font-size: 14px; color: #333333; cursor: pointer; max-width: 150px; overflow: hidden; text-overflow: ellipsis; }
.dynamic-tab .tabs li:hover { background-color: #f2f2f2; }
.dynamic-tab .tabs li.tabs-on { background-color: #2db1ef; }
.dynamic-tab .tabs li.tabs-on a { color: #ffffff; padding-right: 35px; }
.dynamic-tab .tabs li.tabs-on .single-home {  height: 20px; width: 19px; }
.dynamic-tab .tabs li.tabs-on .dynamic-close { display: block; }
.dynamic-tab .tabs li:first-child { background-color: #ffffff !important; }
.dynamic-tab .tabs li .dynamic-close { display: none; position: absolute; top: 13px; right: 8px; cursor: pointer; }
.dynamic-tab .tabs li .dynamic-close:hover { opacity: 0.8; }
.dynamic-tab .tabs i { margin-right: 5px; margin-bottom: 3px; }
.dynamic-tab .tabs i.single-home { margin-right: 0; }

.todo-tab .tabs { background-color: #ffffff; position: absolute; top: 8px; right: 0; }
.todo-tab .tabs li { float: right; position: relative; margin-right: 20px; }
.todo-tab .tabs a { display: inline-block; min-width: 60px; height: 24px; line-height: 24px; padding: 0 20px; text-align: center; font-size: 14px; color: #666666; font-weight: bold; margin-top: 8px; cursor: pointer; position: relative; }
.todo-tab .tabs a b { margin-left: 5px; background-color: #f45a57; display: inline-block; font-size: 16px; min-width: 8px; min-height: 18px; line-height: 18px; text-align: center; border-radius: 8px; color: #ffffff; font-weight: normal; padding: 0 4px; }
.todo-tab .tabs .tabs-on { border-top: 1px solid #cfcfcf; border-left: 1px solid #cfcfcf; border-right: 1px solid #cfcfcf; border-radius: 6px 6px 0 0; color: #3267cc; }
.todo-tab .tabs .tabs-on i { position: absolute; left: 0; display: block; width: 100%; height: 4px; background-color: #ffffff; }
.todo-tab .tabs i { margin-right: 5px; margin-bottom: 3px; }
.todo-tab .tabcontents { padding: 10px; margin-top: -8px; }

html input[disabled] { background-color: #f1f1f1; }

.form-item { white-space: nowrap; display: inline-block; vertical-align: top; padding: 10px 0; margin: 0; color: #666666; }
.form-item .title { display: inline-block; _display: inline; vertical-align: top; text-align: right; white-space: normal; width: 120px; font-size: 12px; line-height: 32px; }
@media screen and (min-width: 1200px) { .form-item .title { width: 140px; line-height: 38px; font-size: 14px; } }
.form-item .title:after { content: " "; }
.form-item .sptitle { line-height: 16px; }
@media screen and (min-width: 1200px) { .form-item .sptitle { line-height: 20px; } }
.form-item .detail { display: inline-block; _display: inline; vertical-align: top; margin-left: 0; position: relative; width: 200px; line-height: 32px; margin-right: 10px; }
@media screen and (min-width: 1200px) { .form-item .detail { width: 234px; line-height: 38px; margin-right: 20px; } }
/*.form-item .detail label { position: relative; display: inline-block; _display: inline; }*/
.form-item .detail i.icon-mdate { position: absolute; top: 8px; right: 5px; cursor: pointer; }
.form-item .detail .require { position: absolute; top: 0; left: 0; }

.sui-select { padding: 0; }

.sui-date { padding-right: 20px; background: #ffffff url(../images/mdate.png) no-repeat right center; }


.form-radio { margin: 0; white-space: normal; }
.form-radio li { display: inline-block; height: 30px; line-height: 30px; white-space: nowrap; margin-right: 10px; cursor: pointer; }
.form-radio li.selected i { background-position: -33px -84px; height: 17px; width: 17px; }
.form-radio li i.single-radio { margin-right: 6px; }

.form-checkbox { margin: 0; white-space: normal; }
.form-checkbox li { display: inline-block; height: 30px; line-height: 30px; white-space: nowrap; margin-right: 10px; cursor: pointer; }
.form-checkbox li.selected i { background-position: -32px -47px; height: 17px; width: 17px; }
.form-checkbox li i.single-checkbox { margin-right: 6px; margin-bottom: 4px; }

.sui-select-panel { margin: 0; padding: 0; }
.sui-select-panel .sui-mselect { display: block; line-height: 32px; cursor: pointer; background: #ffffff url("../images/mselect.png") no-repeat right center; }
.sui-select-panel .sui-mselect:focus, .sui-select-panel .sui-mselect.focus { border: 1px solid #5d947f; background-image: url("../images/mselect-a.png"); }
.sui-select-panel .sui-option { display: none; box-sizing: border-box; margin: 0; width: 100%; max-height: 200px; overflow: auto; background-color: #ffffff; border: 1px solid #CCCCCC; position: absolute; left: 0; z-index: 50; top: 32px; }
@media screen and (min-width: 1200px) { .sui-select-panel .sui-option { top: 30px; } }
.sui-select-panel .sui-option > p { display: block; line-height: 24px; padding: 6px 8px; margin: 0; cursor: pointer; color: #333333; }
.sui-select-panel .sui-option > p:hover { background-color: #f7f7f7; }

.form-error, .form-success, .form-notice { position: absolute; display: block; line-height: 1.2; }

.form-error { color: #fd4341; }

.form-notice { color: #0066fd; }

.form-success { color: #6ddb97; }

.border { border-bottom: 1px solid #CCCCCC; white-space: normal !important; }

.width2 { width: 80px; }
@media screen and (min-width: 1200px) { .width2 { width: 100px; } }

.width3 { width: 48px; }
@media screen and (min-width: 1200px) { .width3 { width: 60px; } }

.nwidth2 { width: 98px; }
@media screen and (min-width: 1200px) { .nwidth2 { width: 118px; } }

.nwidth3 { width: 64px; }
@media screen and (min-width: 1200px) { .nwidth3 { width: 77px; } }

.word { display: inline-block; _display: inline; text-align: center; }

.btn-detail { background-color: #ffffff; display: inline-block; line-height: 20px; border-radius: 8px; border: 1px solid #cccccc; padding: 2px 15px; }
@media screen and (min-width: 1200px) { .btn-detail { padding: 3px 25px; } }
.btn-detail:hover { background-color: #3990fe; color: #ffffff; border: 1px solid #577fd1; }

.btn-saveblue, .btn-returngray, .btn-submitorg { width: 130px; height: 34px; line-height: 34px; font-size: 16px; display: inline-block; border-radius: 4px; color: #ffffff; text-align: center; padding: 0; }
@media screen and (min-width: 1200px) { .btn-saveblue, .btn-returngray, .btn-submitorg { width: auto; height: 45px; line-height: 45px; padding: 0 60px; font-size: 18px; }
  .btn-saveblue i.icon-save, .btn-returngray i.icon-save, .btn-submitorg i.icon-save { background-image: url("../images/middle/save.png"); background-position: 0 0; width: 27px; height: 27px; }
  .btn-saveblue i.icon-return, .btn-returngray i.icon-return, .btn-submitorg i.icon-return { background-image: url("../images/middle/return.png"); background-position: 0 0; width: 27px; height: 27px; }
  .btn-saveblue i.icon-submit, .btn-returngray i.icon-submit, .btn-submitorg i.icon-submit { background-image: url("../images/middle/submit.png"); background-position: 0 0; width: 27px; height: 27px; } }
.btn-saveblue i, .btn-returngray i, .btn-submitorg i { margin-right: 10px; }

.btn-saveblue { border: 1px solid #2db1ef; background-color: #2db1ef; }

.btn-returngray { border: 1px solid #cccccc; background-color: #cccccc; }

.btn-submitorg { border: 1px solid #527f35; background-color: #527f35; }

.btn-gray, .btn-blue, .btn-white { display: inline-block; line-height: 20px; padding: 5px 30px; border-radius: 4px; color: #ffffff; }
.btn-gray:hover, .btn-blue:hover, .btn-white:hover { opacity: 0.8; }

.btn-gray { background-color: #cccccc; border: 1px solid #CCCCCC; }

.btn-blue { background-color: #f6ab00; border: 1px solid #f6ab00; }

.btn-white { background-color: #ffffff; border: 1px solid #CCCCCC; color: #333333; }

.btn-operateblue, .btn-operatered, .btn-operateorg, .btn-operategreen, .btn-operategray { display: inline-block; box-sizing: content-box; height: 30px; line-height: 30px; border-radius: 4px; font-size: 14px; color: #ffffff; padding: 0 15px; }
@media screen and (min-width: 1200px) { .btn-operateblue, .btn-operatered, .btn-operateorg, .btn-operategreen, .btn-operategray { padding: 0 20px; } }
.btn-operateblue i, .btn-operatered i, .btn-operateorg i, .btn-operategreen i, .btn-operategray i { margin-right: 5px; }

.btn-operateblue { border: 1px solid #2db1ef; background-color: #2db1ef; }
.btn-operateblue:hover { opacity: 0.8 }

.btn-operatered { border: 1px solid #f24034; background-color: #f24034; }
.btn-operatered:hover { border: 1px solid #d90e00; background-color: #d90e00; }

.btn-operateorg { border: 1px solid #527f35; background-color: #527f35; }
.btn-operateorg:hover { border: 1px solid #ff9c00; background-color: #ff9c00; }

.btn-operategreen { border: 1px solid #6eeaab; background-color: #6eeaab; }
.btn-operategreen:hover { border: 1px solid #34ff67; background-color: #34ff67; }

.btn-operategray { border: 1px solid #cccccc; background-color: #cccccc; }
.btn-operategray:hover { border: 1px solid #aaaaaa; background-color: #aaaaaa; }

.btn-sblue, .btn-cblue { display: inline-block; line-height: 20px; padding: 5px 30px; border-radius: 4px; border: 1px solid #f6ab00; font-size: 12px; font-weight: normal; }
.btn-sblue:hover, .btn-cblue:hover { opacity: 0.8; }

.btn-sblue { color: #ffffff; background-color: #f6ab00; }

.btn-cblue { color: #5d947f; background-color: #ffffff; }

.btn-choose, .btn-create, .btn-edit, .btn-check { display: inline-block; line-height: 20px; padding: 6px 15px 6px 15px; border: 1px solid #CCCCCC; border-radius: 4px; background-color: #ffffff; background-repeat: no-repeat; background-position: 12px center; }
.btn-choose:hover, .btn-create:hover, .btn-edit:hover, .btn-check:hover { background-color: #398fff; color: #ffffff; }
.btn-choose i, .btn-create i, .btn-edit i, .btn-check i { margin-right: 5px; }

.btn-choose:hover i { background-position: -16px -47px; height: 16px; width: 16px; }

.btn-create:hover i { background-position: -16px -47px; height: 16px; width: 16px; }

.btn-edit:hover i { background-position: -32px 0; height: 16px; width: 16px; }

.btn-check:hover i { background-position: -16px -30px; height: 16px; width: 16px; }

.btn-radblue, .btn-radgreen, .btn-radgray { display: inline-block; line-height: 20px; font-size: 12px; color: #ffffff; border-radius: 14px; padding: 4px 18px; }
@media screen and (min-width: 1200px) { .btn-radblue, .btn-radgreen, .btn-radgray { padding: 4px 24px; } }

.btn-radblue { background-color: #5d947f; border: 1px solid #5d947f; }
.btn-radblue:hover { background-color: #baded0; border: 1px solid #baded0; }

.btn-radgreen { background-color: #6eeaab; border: 1px solid #6eeaab; }
.btn-radgreen:hover { background-color: #34ff67; border: 1px solid #34ff67; }

.btn-radgray { background-color: #CCCCCC; border: 1px solid #CCCCCC; }
.btn-radgray:hover { background-color: #aaaaaa; border: 1px solid #aaaaaa; }

.table-scroll { overflow: auto; margin-bottom: 20px; }

/*.table-detail { width: 100%; border-top: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; }*/
/*.table-detail th, .table-detail td { height: 18px; font-size: 12px; box-sizing: content-box; padding: 10px 15px; color: #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; line-height: 1.2; }*/
/*@media screen and (min-width: 1200px) { .table-detail th, .table-detail td { font-size: 14px; height: 28px; } }*/
/*.table-detail th { width: 130px; text-align: right; white-space: nowrap; background-color: #f0f0f0; font-weight: normal; }*/
/*@media screen and (min-width: 1200px) { .table-detail th { width: 160px; } }*/

/*.table-index { width: 100%; white-space: nowrap; text-align: center; font-size: 14px; }*/
/*.table-index th { background-color: #f7f7f7; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee; }*/
/*.table-index th strong { display: block; height: 30px; line-height: 30px; color: #666666; border: 1px solid #ffffff; border-right: 1px solid #eeeeee; }*/
/*.table-index th.th-first { border-left: 3px solid #eeeeee; }*/
/*.table-index th.th-last { border-right: 3px solid #eeeeee; }*/
/*.table-index td { height: 50px; line-height: 24px; border-bottom: 1px solid #eeeeee; }*/

.table-list { width: 100%; text-align: center; font-size: 14px; border-left: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; color: #666666; }
.table-list th { background-color: #f5f5f5; font-weight: bold; }
.table-list th, .table-list td { height: 40px; line-height: 24px; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; min-width: 30px; }
.table-list tr:hover { background-color: #f5f5f5; }

.page { background-color: #f5f5f5; margin-top: -1px; border: 1px solid  #d9d9d9; padding: 20px; text-align: right; margin-bottom: 20px; }
.page a { margin-left: -7px; box-sizing: border-box; display: inline-block; line-height: 20px; background-color: #ffffff; border: 1px solid #CCCCCC; padding: 2px 10px; text-align: center; }
.page a.page-on, .page a:hover { background-color: #2db1ef; color: #ffffff; border-color: #2db1ef }
.page span { display: inline-block; padding: 0 4px; margin-right: 10px; }
.page .page-pre { border-radius: 4px 0 0 4px; }
.page .page-next { border-radius: 0 4px 4px 0; }
.page .page-input { box-sizing: border-box; height: 24px; width: 40px; border: 1px solid #CCCCCC; }
.page .page-btn { box-sizing: border-box; display: inline-block; background-color: #3267cc; border: 0; line-height: 20px; padding: 2px 10px; color: #ffffff; }

.hlideal-window { background-color: #fff; z-index: 9000; position: absolute; }
.dialog-box { display: block; width: 100%; height: 100%; position: fixed; _position: absolute; left: 0; top: 0; z-index: 999; opacity: 0.3; background: #000; _background: gray; }

.shadow { box-shadow: 0 0 0 5px #efefef, 0 0 0 6px #cccccc; }

.dialog-title { border-bottom: 1px solid #CCCCCC; height: 50px; line-height: 50px; padding: 0px 0px 0px 20px; font-size: 24px; background: #f2f2f2; color: #0098ca; }
.dialog-close { position: absolute; right: 10px; }/*top: 10px; */
.dialog-content { position: relative; background-color: #ffffff; padding: 10px; overflow: auto; }
.dialog-bottom { border-top: 1px solid #CCCCCC; background-color: #eeeeef; text-align: center; padding: 10px; }
.dialog-bottom * { margin: 0 5px; }

.dialog-content .sui-input, .dialog-content .sui-select, .dialog-content .sui-date, .dialog-content .sui-area, .dialog-content .sui-mselect, .alert-content .sui-input, .alert-content .sui-select, .alert-content .sui-date, .alert-content .sui-area, .alert-content .sui-mselect { vertical-align: top; width: 160px; height: 36px; line-height: 24px; }
.dialog-content .form-item, .alert-content .form-item { padding: 10px 0; }
.dialog-content .form-item .title, .alert-content .form-item .title { line-height: 36px; width: 120px; }
.dialog-content .form-item .sptitle, .alert-content .form-item .sptitle { line-height: 36px; }
.dialog-content .form-item .detail, .alert-content .form-item .detail { line-height: 24px; width: 160px; position: relative }
.dialog-content .table-list, .alert-content .table-list { font-size: 12px; }
.dialog-content .table-list th, .alert-content .table-list th { height: 38px; }
.dialog-content .table-list td, .alert-content .table-list td { height: 30px; }
.dialog-content .btn-blue, .alert-content .btn-blue { width: 100px; height: 32px; line-height: 1; padding-top: 0; padding-bottom: 0; }


.dialog-msg { text-align: center; font-size: 20px; font-weight: bold; padding: 30px 0; }
.dialog-msg i { margin-right: 20px; }

.alert-title { border-bottom: 1px solid #CCCCCC; height: 36px; line-height: 36px; padding: 0 30px 0 20px; font-size: 14px; background: #f8f8f8; color: #000; }
.alert-close { position: absolute; right: 10px; }/*top: 10px; */
.alert-content { padding: 20px; background-color: #ffffff; }
.alert-img { float: left; max-width: 50px; max-height: 50px; }
.alert-word { margin-left: 70px; margin-bottom: 20px; }
.alert-word p { font-size: 14px; line-height: 1.5; margin: 0; padding: 0; }

.sui-input, .sui-select, .sui-date, .sui-area, .sui-mselect { box-sizing: border-box; border: 1px solid #CCCCCC; color: #666666; padding: 2px 5px; box-shadow: inset 0 1px 2px #f0f0f0; background-color: #ffffff; height: 32px; line-height: 32px; width: 200px; font-size: 12px; }
@media screen and (min-width: 1200px) { .sui-input, .sui-select, .sui-date, .sui-area, .sui-mselect { height: 38px; line-height: 24px; width: 240px; font-size: 14px; } }
.sui-input:disabled, .sui-select:disabled, .sui-date:disabled, .sui-area:disabled, .sui-mselect:disabled { background-color: #f4f4f4; }
.sui-input:focus, .sui-select:focus, .sui-date:focus, .sui-area:focus, .sui-mselect:focus { border: 1px solid #5d947f; }

.sui-area { width: 530px; height: 80px; line-height: 20px; resize: none; padding: 5px; }
@media screen and (min-width: 1200px) { .sui-area { width: 647px; height: 100px; line-height: 1.2; } }


.detail .sui-area { width: 530px; height: 80px; line-height: 20px; resize: none; padding: 5px; }
@media screen and (min-width: 1200px) { .detail .sui-area { width: 470px; height: 100px; line-height: 1.2; } }

.save { position: fixed; bottom: 0; width: 99%; background: #f1f1f1; border: 1px solid #CCCCCC; padding: 20px 0; text-align: center; z-index: 1000; }
@media screen and (min-width: 1200px) { .save { padding: 10px 0; } }

.container { min-width: 997px; width: 100%; height:100%; overflow: hidden; }

.index-menu { width: 220px; float: left; background-color: #4d637b; }
.index-menu #menu{ overflow-y: auto}
/*::-webkit-scrollbar{width:4px;}!*滚动条宽度设置：宽度为0 ，当有滚动条出现的时候则不显示滚动条*!*/
/*::-webkit-scrollbar-track{background-color:#fff;}!*滚动条槽背景设置*!*/
/*::-webkit-scrollbar-thumb{background-color:#2db1ef; border-radius: 5px;}!*滚动条滑块颜色设置*!*/
/*::-webkit-scrollbar-thumb:hover {background-color:#9c3}!*滚动条滑块鼠标移上去颜色设置*!*/
/*::-webkit-scrollbar-thumb:active {background-color:#00aff0}!*滚动条鼠标点击颜色设置*!*/


.index-content { overflow: hidden; background-color: #F5F5F5; margin-left: 220px;}

.logo { height: 100px; background-color: #052519; }
.logo img { height: 100px; width: 200px; }

/*.fast-item { display: block; text-align: center; margin: 15px 10px 10px 10px; padding-top: 15px; }*/
/*.fast-item span { display: block; padding: 10px 0; text-align: center; color: #ffffff; }*/
/*.fast-item.fast-item-on, .fast-item:hover { background-color: #584f0e; border-radius: 8px; }*/

/*.last-item { display: block; text-align: center; margin: 30px 20px; background-position: 0 -101px; height: 58px; width: 61px; }*/
/*.last-item:hover { border-radius: 0; background-position: 0 -159px; height: 58px; width: 61px; }*/

.first-menu > li > a { padding: 18px 0; line-height: 22px; display: block; color: #fff; font-size: 14px; padding-left: 10px; border-bottom: 1px solid #ffffff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.first-menu > li.active > a,.first-menu > li:hover > a { background-color: #2db1ef;}
.first-menu i { margin-right: 5px; margin-left: 5px; }
/*.first-menu a:hover { opacity: 0.8; }*/

.first-menu > li > a.haschildren{
  background: #344c68 url("../images/menu-close.png") no-repeat right center;
}

.first-menu > li.active > a.haschildren, .first-menu > li:hover > a.haschildren {
  background-image: url("../images/menu-open.png");
  background-color: #2db1ef;
}

.second-menu { display: none; }
.second-menu > li > a { position: relative; display: block; padding: 15px 0; line-height: 20px; color: #ffffff; font-size: 12px; padding-left: 50px; border-bottom: 1px solid #ffffff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.second-menu i { margin-right: 5px; margin-left: 5px; }
.second-menu > li > a i{ display: block; width: 15px; height:15px; background-color: #00a1cb; position: absolute; left: 25px; top: 18px; margin: 0}
.second-menu > li > a:hover{ color: #2db1ef }
.second-menu > li > a:hover i{ background-position: bottom !important;}

.three-menu { display: none; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; }
.three-menu > li:hover a { background-color: #5a84d3; }
.three-menu > li > a { display: block; padding: 8px 0; line-height: 20px; color: #ffffff; font-size: 12px; padding-left: 45px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.three-menu i { margin-right: 5px; }



/*.index-box { border-top: 5px solid #d5d5d5; background-color: #ffffff; position: relative; overflow: auto; margin-bottom: 10px; }*/
/*@media screen and (min-width: 1200px) { .index-box { margin-bottom: 20px; } }*/

/*.col-two .index-box { height: 400px; }*/
/*@media screen and (min-width: 1200px) { .col-two .index-box { height: 440px; } }*/

.index-list { margin-bottom: 10px; }
.index-list > li > a { display: block; border-bottom: 1px dashed #CCCCCC; font-size: 14px; padding-left: 10px; padding-right: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 40px; line-height: 40px; }
@media screen and (min-width: 1200px) { .index-list > li > a { height: 46px; line-height: 46px; } }
.index-list > li > a:hover { background-color: #f3f3f3; }
.index-list .index-icon { position: relative; }
.index-list .index-icon a { padding-right: 80px; }
.index-list .index-icon span { position: absolute; top: 12px; right: 0; color: #e9494c; }

.index-more { font-size: 14px; display: inline-block; _display: inline; border: 1px solid #CCCCCC; border-radius: 4px; text-align: center; line-height: 20px; background-color: #ffffff; padding: 3px 15px; }
@media screen and (min-width: 1200px) { .index-more { padding: 3px 18px; } }

.todo-title, .index-title { font-size: 14px; font-weight: bold; line-height: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; margin: 0; }
.todo-title i, .index-title i { margin-right: 5px; margin-bottom: 4px; }

.todo-title { border-bottom: 1px solid #cfcfcf; }

.notice-bg { background-color: #f3f3f3; padding: 10px; border-radius: 4px; margin-top: 64px; }
@media screen and (min-width: 1200px) { .notice-bg { margin-top: 70px; } }
.notice-bg i { margin-right: 5px; }

/*.notice-item { margin-bottom: 10px; width: 100%; }*/
/*.notice-item > li { display: inline-block; _display: inline; float: left; width: 86px; }*/
/*@media screen and (min-width: 1200px) { .notice-item > li { width: 135px; } }*/
/*.notice-item .notice-div { font-size: 12px; padding: 6px 6px 6px 45px; margin-right: 5px; cursor: pointer; background-color: #f3f3f3; border-radius: 6px; position: relative; }*/
/*@media screen and (min-width: 1200px) { .notice-item .notice-div { font-size: 14px; padding: 12px; margin-right: 6px; } }*/
/*.notice-item .notice-div b { font-size: 12px; position: absolute; top: -4px; right: -4px; margin-left: 5px; background-color: #f45a57; display: inline-block; _display: inline; min-width: 8px; min-height: 18px; line-height: 18px; text-align: center; border-radius: 8px; color: #ffffff; padding: 0 4px; font-weight: normal; }*/
/*@media screen and (min-width: 1200px) { .notice-item .notice-div b { font-size: 16px; } }*/
/*.notice-item .notice-div i { position: absolute; top: 8px; left: 10px; }*/
/*@media screen and (min-width: 1200px) { .notice-item .notice-div i { margin-right: 5px; position: static; } }*/
/*.notice-item .notice-div.last { margin-right: 0; }*/
/*.notice-item .notice-div:hover { background-color: #e1f2ff; }*/
/*.notice-item .notice-div.notice-select { background-color: #e1f2ff; position: relative; }*/
/*.notice-item .notice-div.notice-select:after { content: " "; width: 0; height: 0; border: 8px solid transparent; border-top-color: #e1f2ff; position: absolute; left: 50%; bottom: -16px; }*/

.page-box { background-color: #ffffff; border: 1px solid #CCCCCC; padding: 20px; margin-bottom: 20px; }

.page-title { border-left: 6px solid #4778c7; padding-left: 4px; line-height: 20px; margin: 0; font-size: 24px; color: #333333; margin-bottom: 20px; }

.operate { border: 1px solid #CCCCCC; padding:15px 0; padding-left: 20px; }
.operate a { margin-bottom: 15px; margin-right: 10px; }

.search-bg { border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; padding: 10px 0; }

/*.selArrow { position: absolute; top: 100px; right: -25px; }*/

/*.selTitle { background-color: #f5f5f5; font-size: 14px; font-weight: bold; color: #333333; padding: 10px 20px; margin: 0; }*/

/*.selDetail { min-height: 190px; }*/
/*@media screen and (min-width: 1200px) { .selDetail { min-height: 280px; } }*/
/*.selDetail .selItem { display: block; background-color: #ffffff; padding: 12px 40px 12px 20px; }*/
/*.selDetail .selItem i { display: none; float: right; margin-right: -25px; cursor: pointer; }*/
/*.selDetail .selItem:hover { background-color: #f5f5f5; }*/
/*.selDetail .selItem:hover i { display: block; }*/


.hlideal_loading { width: 100%; height: 100%; z-index: 9999; position: absolute; left: 0; top: 0; background: #000; opacity: 0.6; }

.hlideal_loading .loading-pic { width: 175px; height: 140px; position: absolute; left: 50%; margin-left: -87px; top: 400px; text-align: center; }

.hlideal_loading .loading-pic p { font-size: 14px; margin-top: 5px; color: #fff; }

.hlideal_div_loading { z-index: 9999; position: absolute; background: #000; opacity: 0.6; }

.hlideal_div_loading .loading-pic { position: relative; width: 80px; height: 50px; margin-left: -87px; top: 50%; left: 50%; margin-top: -20px; }

.hlideal_div_loading .loading-pic p { font-size: 14px; margin-top: 5px; color: #fff; }

.sui-option-selected {color: #d04815 !important;}

.Mheader{ overflow: hidden; width: 100%; height: 80px;}
.Mheader strong{color:red; font-style: normal;}
.Mheader .top-welcome{ overflow: hidden; margin-top: 40px;}
.Mheader .top-welcome a { display: inline-block; _display: inline; margin-right: 20px; }
.Mheader .top-welcome i { margin-right: 4px; }
.Mheader h1{ float: left; margin-left: 20px; line-height: 80px; font-weight: normal; font-size: 24px; color: #333;}
.Mheader h1 img{ vertical-align: middle; margin-right: 10px;}



