<!DOCTYPE HTML>
<#include "const.html" />
<html>
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>管理系统</title>
    <meta name="keywords" content="系统"/>
    <meta name="description" content="系统" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="${adminCtxStatics}/css/jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="${adminCtxStatics}/css/style.css"/>
    <script type="text/javascript" src="${adminCtxStatics}/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/commonUtilJs.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/commonUtilJs.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/datepicker/WdatePicker.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.loading.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.button.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/drag.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.callback.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.window.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.message.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.dialog.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.validate.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.combobox.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.combotree.js"></script>
    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.checkbox.js"></script>

    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.form.js"></script>

    <script type="text/javascript" src="${adminCtxStatics}/js/module/jquery.table.js"></script>

</head>
</html>